---
version: 2

updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
    time: "03:00"
    timezone: UTC
  open-pull-requests-limit: 15
  commit-message:
    prefix: "fix"
    prefix-development: "chore"
    include: "scope"
  groups:
    production-dependencies:
      applies-to: version-updates
      dependency-type: production
      update-types:
        - minor
        - patch
      patterns:
        - '*'
    dev-dependencies:
      applies-to: version-updates
      dependency-type: development
      update-types:
        - minor
        - patch
      patterns:
        - '*'

  cooldown:
    default-days: 15